---
---

@font-face{
  font-family: 'Droid Serif';
  src: url('../fonts/DroidSerif.ttf');
}
@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Regular.ttf');
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono-Regular.ttf');
}


body { font-family: 'Yanone Kaffeesatz'; }
.remark-code, .remark-inline-code {
	font-family: 'Ubuntu Mono';
	background-color: lightgray;
	line-height: 1em;
	font-size: 0.8em;
}

pre {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.remark-slide-content {
	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 50px;
		margin: 20px 0;
	}

	h1, h2, h3 {
	  font-family: 'Yanone Kaffeesatz';
	  font-weight: 800;
	}

	li {
		line-height: 1.3em;
		font-size: 40px;
		padding-bottom: 10px;
	}

	li li {
		line-height: 1em;
		font-size: 35px;
		padding-bottom: 10px;
	}

	ul {
		margin-bottom: 0;
		padding-bottom: 0;
		/*padding: 0;*/
	}

	p {
		line-height: 1.5em;
		font-size: 40px;
		margin: 0;
	}

	.footnote {
		font-size: 20px;
	  position: absolute;
	  bottom: 1em;
		line-height: 20px;
	}

	.alert {
		color: red;
		font-weight: 800;
		margin: 10px 0;
	}

	.blur-background img {
		background-color: white;
		padding: 2%;
		margin: 0;
	}

	/* Two-column layout */
	.left-column {
		width: 50%;
	  float: left;
		li {
			font-size: 30px;
		}
	}
	.right-column {
	  width: 50%;
	  float: right;
		li {
			font-size: 30px;
		}
	}


	.inverse {
	  background-color: #272822;
	  color: #d6d6d6;
	  text-shadow: 0 0 20px #333;
	}
	.inverse h1, .inverse h2, .inverse h3 {
	  color: #f3f3f3;
	  line-height: 1.0em;
	}
	.pull-left {
	  float: left;
	  width: 47%;
	}
	.pull-right {
	  float: right;
	  width: 47%;
	}
	.pull-right ~ * {
	  clear: both;
	}
	img {
	  max-width: 100%;
	}

	blockquote {
	  border-left: solid 5px lightgray;
	  padding-left: 1em;
		margin: 10px 0;
		p {
			line-height: 100%;
		}
	}
}
